services:
  db:
    image: postgres:16-alpine
    container_name: lab07-postgres-db
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=123456
    ports:
      - "15432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql
    networks:
      - app-network

  idndev.cadastro.api:
    image: ${DOCKER_REGISTRY-}idndevcadastroapi
    build:
      context: .
      dockerfile: Dockerfile
    networks:
      - app-network
volumes:
  postgres_data:

networks:
  app-network:
    driver: bridge