name: Build Lab07_Project
on:
    push:
        branches: [main]
        tags:
            - "v*.*.*"
    pull_request:
        branches: [main]
    workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }} # Agrupa execuções pela branch
  cancel-in-progress: true # Cancela execuções anteriores em andamento

env:
  IMAGE_NAME: idndev-cadastro-api

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: checkout code
              uses: actions/checkout@v6

            - name: Setup .Net Core SDK
              uses: actions/setup-dotnet@v5
              with:
                dotnet-version: '10.x'

            - name: Restore
              run: dotnet restore ./Lab07.IDNDev.Project.slnx

            - name: Build Solution
              run: dotnet build ./Lab07.IDNDev.Project.slnx -c Release --no-restore

            - name: Test
              run: dotnet test ./Lab07.IDNDev.Project.slnx \
                -c Release 
                --no-build \
                --no-restore \
                --logger trx \
                --results-directory "TestResults"

            - name: Upload Test Results
              uses: actions/upload-artifact@v6
              with:
                name: dotnet-test-results
                path: TestResults

    docker:
        needs: build
        name: Build and Push Docker Image
        runs-on: ubuntu-latest

        steps:
          - name: Checkout Code
            uses: actions/checkout@v6

          - name: Set up Docker Buildx
            uses: docker/setup-buildx-action@v3

          - name: Login to Docker Hub
            uses: docker/login-action@v3
            with:
                username: ${{ secrets.DOCKERHUB_USERNAME }}
                password: ${{ secrets.DOCKERHUB_TOKEN }}

          - name: Extract metadata (tags, labels)
            id: meta
            uses: docker/metadata-action@v5
            with:
                images: |
                    ${{ secrets.DOCKERHUB_USERNAME }}/${{ env.IMAGE_NAME }}
                tags: |
                    type=sha
                    type=semver,pattern={{version}}
                    type=raw,value=latest,enable={{is_default_branch}}

          - name: Build and push Docker Image
            uses: docker/build-push-action@v5
            with:
                context: .
                file: Dockerfile
                push: true
                tags: ${{ steps.meta.outputs.tags }}
                labels: ${{ steps.meta.outputs.labels }}